<template>
  <gl-dropdown text="Some dropdown">
    <template #highlighted-items>
      <gl-dropdown-item>First item</gl-dropdown-item>
      <gl-dropdown-item>Second item</gl-dropdown-item>
    </template>
    <gl-dropdown-item>Last item</gl-dropdown-item>
  </gl-dropdown>
</template>
